<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean  id="credit" class="ai.Rohit.beans.CreditCardPay"></bean>
<bean  id="debit" class="ai.Rohit.beans.DebitCardPay"></bean>
<bean  id="pay" class="ai.Rohit.beans.PaymentProccessing">
<property name="pay" ref="credit"></property>
</bean>

</beans>