<?xml version="1.0"?> 
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql:///rohit</property>
<property name="hibernate.connection.username">Rohit</property>
<property name="hibernate.connection.password">Rohit2004</property>
<!-- OPtional Proprty for Hibernate  -->

<!-- Preapre th query based on the  mapping information for the underlying DB    -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
<!-- Inform HIBERNATE to display the Query on the console it has generated internally   -->
<property name="hibernate.show_sql">true</property>

<!--  Inform hibernate to display the query  on the console it has generated internally in proper format  -->
<property name="hibernate.format_sql">true</property>
<!--  Inform hibernate tocreat/drop/alter the table -->
<property name="hibernate.hbm2ddl.auto">update</property>
<!-- Mapping information for hibernate(clasname -tablename)--> 
<mapping class="in.rohit.model.Student"/>

</session-factory>

</hibernate-configuration>
